@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Montserrat', 'DejaVu Sans', Verdana, sans-serif !important;
	font-size: 15px;
	--color-primary: #3eb9c0;
  --color-primary-content: #ffffff;
	--color-secondary: #f4a4a0;
	--color-accent: #96bb27;
	--color-neutral: #1f2937;
	--color-base-100: #ffffff;
	--color-info: #ABBCE7;
	--color-success: #96bb27;
	--color-warning: #f8bb00;
	--color-error: #EB2D30;
}

body {
	background-color: var(--color-base-100);
  color: var(--color-neutral)
}

::placeholder {
	color: rgba(0, 0, 0, 0.2) !important;
	font-weight: 500;
}

::selection {
	background: var(--color-primary);
}

.section-divider {
	margin-top: 4rem;
}

@layer components {
  .btn {
    @apply font-normal px-5 text-sm;
  }
}